[run]
branch=true
source=app

[report]
skip_empty=true

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

omit =
    app\src\graph\graph_visualizer.py
    app\src\sentence_summarizer.py
    app\src\user_scripts\*.py
    app\src\nlp\standard_events.py

