[run]
branch=true
source=app

[report]
skip_empty=true

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

omit =
    app\templates\*
    app\web_lib\*
    app\console_lib\*
    
    app\src\custom_event_extractor\custom_event_extractor_builder.py
    app\src\custom_event_extractor\noun_phrase\fake_noun_phrase_extractor.py
    app\src\custom_event_extractor\verb\fake_lemmatizer.py
    app\src\domain_update_extractor\domain_update_extractor_builder.py
    app\src\grammar_builder\grammar_builder_constructor.py
    app\src\operations\contract_updater_builder.py
    app\src\operations\dependency_builder.py
    app\src\operations\operation_mapper_builder.py
